/* antonio-regular - latin */
@font-face {
  font-family: 'Antonio';
  font-style: normal;
  font-weight: 400;
  src: url('../src/fonts/antonio-v19-latin-regular.woff2') format('woff2');
}
/* antonio-500 - latin */
@font-face {
  font-family: 'Antonio';
  font-style: normal;
  font-weight: 500;
  src: url('../src/fonts/antonio-v19-latin-500.woff2') format('woff2'); 
}
/* antonio-600 - latin */
@font-face {
  font-family: 'Antonio';
  font-style: normal;
  font-weight: 600;
  src: url('../src/fonts/antonio-v19-latin-600.woff2') format('woff2'); 
}
/* antonio-700 - latin */
@font-face {
  font-family: 'Antonio';
  font-style: normal;
  font-weight: 700;
  src: url('../src/fonts/antonio-v19-latin-700.woff2') format('woff2'); 
}

* {
    font-family: 'Antonio';
    margin: 0;
    padding: 0;
}

a:link{
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    color: #74446C;
    transition: transform .2s ease-in-out;
}

a:hover{
    transform: scale(1.3) rotate(5deg);
}

a:visited{
    text-decoration: none;
    color: #74446C;
}

.window-div{
    width: 100vw;
    height: 100vw;
    display: flex;
    justify-content: center;
}

.page-container{
    width: 1200px;
    height: 800px;
    margin-top: 3vh;
    border: 30px solid #C38F3E;
    background-color: #7e382f;
    border-radius: 120px 0px 120px 0px;
    outline: 5px solid black;
    outline-offset: -30px;
    position: relative;
    overflow: hidden;
}

.spinning-logo{
    width: 280px;
    position: absolute;
    object-position: 0;
    z-index: 4;
    left: 0px;
    top: 20px;
    /* filter: brightness(0) saturate(100%) invert(29%) sepia(8%) saturate(3541%) hue-rotate(258deg) brightness(90%) contrast(78%); /* PURPLE */ 
    filter: invert(57%) sepia(50%) saturate(544%) hue-rotate(358deg) brightness(95%) contrast(84%); /* YELLOW */
    /* filter: invert(24%) sepia(6%) saturate(5589%) hue-rotate(318deg) brightness(105%) contrast(93%);/* RED */
    animation: rotation 20s infinite linear;
}

.welcome-image{
    height: 800px;
    object-fit: cover;
    object-position: 0 25%;
    z-index: 3;
    border-radius: 90px 0px 0px 0px;
    position: relative;
    left: 0px;
    top: 0px;
    pointer-events: none;
}

.content-container{
    width: 784px;
    height: 800px;
    position: absolute;
    z-index: 1;
    left: 417px;
    top: 0px;
    display: grid;
    grid-template-rows: 1fr 6fr;
}

.nav-bar{
    width: 784px;
    height: 80px;
    background-color: #C38F3E;
    position: absolute;
    z-index: 2;
    top: 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 5px solid black;
}

.nav-bar-link{
    font-family: 'Antonio';
    display: flex;
    align-items: center;
    justify-content: center;
}

.scan-lines{
    height: 100vw;
    z-index: 2;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 10%;
    pointer-events: none;
}

.text-area{
    position: absolute;
    font-size: 28px;
    grid-row: 2;
    left: 240px;
    right: 20px;
    overflow: auto;
}

body{
    background-color: #000;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
